
body {
    background-color: white;
}
#wrapper1 {
    display: grid;
    grid-template-areas: 
   'hd hd hd'
   'ma ma ma'
   'se se se'
   'se2 se2 se2'
   'fo fo fo'
   ;
   grid-template-rows: 1fr 7fr 5fr 5fr 2fr;
   min-height: 100vh;
   margin: auto;
}

header {
    grid-area: hd;
    display: grid;
    grid-template-areas:
    'lo nav';
}
a{
    text-decoration: none;
    color: #000; 
}
a:hover{
color:#786D6D;
}

ul{
    list-style-type: none;
}
li {
    display: inline;
    margin: 4rem; 
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: flex-end;
    grid-area: nav;
    margin-right: 7rem;
    margin-top: 1rem;
}

ol{
    color: white;
    margin: 1rem;
}

#logo{
    height: 5rem;
    margin-bottom: 1rem;
    grid-area: lo;
    display: flex;
    justify-content: flex-start;
 }

main {
    background-image:url('../img/IMG_4691.jpg');
    background-size:cover;
    grid-area: ma;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
#bord {
    background-color: #C4B3B3;
    width: 15rem;
    height: 6rem;
}
#texttillhem{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#section1 {
    grid-area: se;
    background-color:#F7E1E1;
    display: flex;
    justify-content: right;
    align-items: center;
}

#a1 {
     background-color: #784949;
     width: 25rem;
     height: 15rem;
     margin-right: 4rem;
     padding-left: 4rem;
 }
 #tider{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2rem;
    color: white;
 }
 #text{
    width: 45rem;
    height: 15rem;
    margin-right: 6rem;
    margin-bottom: 4rem;
 }
#section2 {
    grid-area: se2;
    background-color: #F7E1E1;
    display: grid;
    grid-template-areas:
    'a2 a3 a4';    
}
#a2 {
    grid-area: a2;
background-image: url(../img/IMG_jacksonklar.jpg);
background-repeat: no-repeat;
margin-bottom: 4rem;
}

#a3 {
    grid-area: a3;
    background-image: url(../img/IMG_matklar.jpg);
    background-repeat: no-repeat;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 4rem;
}
#a4 {
    grid-area: a4;  
    background-image: url(../img/IMG_elvisklarr.jpg);
    background-repeat: no-repeat;
    margin-bottom: 4rem;
}

#matälskare {
    background-color: #C4B3B3;
    width: 15rem;
    height: 6rem;
}
footer {
    grid-area: fo;
}

#wrapper2 {
    display: grid;
    grid-template-areas: 
   'hd hd hd'
   'ma2 ma2 ma2'
   'se1b se1b se1b'
   'se2b se2b se2b'
   'fo fo fo';
   grid-template-rows: 1fr 7fr 9fr 9fr 2fr;
   min-height: 100vh;
   margin: auto;   
}

#main2 {
    background-image:url(../img/IMG_kackor.jpg);
    background-size:cover;
    grid-area: ma2; 
 }
 #matälskare{
    background-color: #C4B3B3;
    width: 45rem;
    height: 6rem;
}
#section1b{
    background-color: #F7E1E1;
    grid-area: se1b;
    display: flex;
    justify-content: right;
    align-items: center; 
}
#a1b{
     background-image: url(../img/IMG_heder_omoss.jpg);
     width: 25rem;
     height: 30rem;
     margin-right: 4rem;
     padding-left: 4rem;
}
#överskrift{
    margin-left: 4rem;
   
}
#se2b{
    background-color: #F7E1E1;
    grid-area: se2b; 
    display: flex;
    justify-content: right;
    align-items: center; 
}
#b2b{
    background-image: url(../img/IMG-växthus.jpg);
    width: 25rem;
    height: 30rem;
    margin-right: 4rem;
    padding-left: 4rem;
}

#wrapper3 {
    display: grid;
    grid-template-areas: 
   'hd hd hd'
   'ma3 ma3 ma3'
   're re re'
   'fo fo fo';
   grid-template-rows: 1fr 7fr 20fr 5fr;
   min-height: 100vh;
   margin: auto;   
}

#main3 {
    grid-area: ma3; 
    background-image: url(../img/IMG_pomes.jpg); 
}
#meny{
    background-color: #C4B3B3;
    width: 30rem;
    height: 6rem;
}

#Rettrna{
    grid-area: re;
    background-color:#F7E1E1;
}
.rett{
    background-color: #784949;
    width: 60rem;
    height: 6rem;
    margin: 5rem;
}

hr{
    width:24rem;
    margin-left: 9rem;
    border: solid 3px black;
}

h3{
    margin-left: 11rem;
    font-size: 2rem;
}

h2{
    color: white;
    
}