
body {
    background-color: white;
}
#wrapper {
    display: grid;
    grid-template-areas: 
   'hd hd hd'
   'ma ma ma'
   'se se se';
   grid-template-rows: 1fr 5fr 5fr 2fr;
   min-height: 100vh;
   margin: auto;
}

header {
    grid-area: hd;
    display: flex;
}
ul{
    list-style-type: none;
}
li {
    display: inline;
}

#logo{
    height: 5rem;
    margin-bottom: 1rem;
 }

main {
    grid-area: ma;
    background-image:;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
}
#bord {
    background-color: #C4B3B3;
    width: 8rem;
    height: 3rem;
   
}

section {
    grid-area: se;
    background-color:#F7E1E1;
    display: flex;
    justify-content: right;
    align-items: center;
}

#a1 {
     background-color: #784949;
     width: 20rem;
     height: 20rem;
     margin: 2rem;
 }
 
 